

#keepassxc
#brave-browser
#obsidian

#windows-app
#cryptomator
#gimp
onlyoffice
telegram

font-hack-nerd-font
google-chrome




#NA#orbstack
#NA#xquartz
#NA#slack
#NA#tabby
#NA#rectangle
#NA#visual-studio-code
#NA#ghostty
#NA#adobe-acrobat-reader
#NA#font-symbols-only-nerd-font